@page "/HajmFilter"
@using AppShared.Entities
@rendermode InteractiveWebAssembly
@attribute [Authorize]

<PageTitle>
    حجم های فیلتری
</PageTitle>

<div class="row">
    <div class="col-6">
        <h4>
            حجم های فیلتری
        </h4>
    </div>

    <div class="col-6" style="text-align:end">
    </div>

</div>

@if (IsLoad)
{
    <div class="text-center loader">
        <Spinner Type="SpinnerType.Dots" Class="me-3" Color="SpinnerColor.Primary" Size="SpinnerSize.Large" />
    </div>
}


<div class="row">

    <div class="col-md-4 col-6">
        <AutoComplete @bind-Value="searchNomadName"
                      @ref="InstrumentSearchAuto"
                      TItem="InstrumentSearch"
                      DataProvider="GetNomadProvider"
                      PropertyName="lVal30"
                      OnChanged="(InstrumentSearch instrumentSearch) => OnAutoCompleteChanged(instrumentSearch)"
                      Placeholder="نماد ....." />
    </div>

    <div class="col-md-6 col-6">
        <InputTags Value="Tags" Options="InputTagOptions" />
    </div>
    <div class="col-md-2 col-6">
        <Button Type="ButtonType.Button" Color="ButtonColor.Success" @onclick="SaveHajm"> ذخیره  </Button>
    </div>
</div>


<Grid @ref="gridHajm"
      TItem="HajmViewModel"
      Data="hajms"
      Class="table table-hover table-bordered table-striped mt-3"
      DataProvider="GetDataProvider"
      AllowFiltering="true"
      AllowSorting="true"     
      Responsive="true"
      AllowPaging="false"
      EmptyText="اطلاعاتی وجود ندارد">

@*     <GridColumn TItem="Hajm" HeaderText="عملیات" PropertyName="Id" Sortable="false" Filterable=false Class="actions">
       
        <Button class="btn btn-outline-danger" @onclick="()=>DeleteHajm(context.Id)">
            <Icon Name="IconName.Trash"></Icon>
        </Button>

    </GridColumn> *@

   @*  <GridColumn TItem="HajmViewModel" HeaderText="ردیف" PropertyName="Counter" SortKeySelector="item => item.Counter">
        @context.Counter
    </GridColumn> *@

    <GridColumn TItem="HajmViewModel" HeaderText=" نماد" PropertyName="HajmName" SortKeySelector="item => item.HajmName">
    @context.HajmName
    </GridColumn>

    <GridColumn TItem="HajmViewModel" HeaderText="حجم" PropertyName="Hajms">
        @foreach (var item in @context.Hajms)
        {
            <Button Color="ButtonColor.Danger" Class="me-1" Outline="true">
                <Icon Name="IconName.TrashFill" @onclick="()=>DeleteHajm(item.Id)" />
                    @item.HajmValue 
            </Button>
        }
    </GridColumn>

</Grid>

